{% extends "base.html" %}

{% load i18n %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-fluid text-center registration__section">
  <!--Hero section-->
  <section class="row hero-section--my-bookings pt-5 justify-content-center align-items-center">
    <!--Titles-->
    <div class="col-10 d-flex flex-column justify-content-center align-items-center hero-section__titles mb-2">
      <div>
        <h2 class="registration__title pt-4 hidden">Login</h2>
      </div>
      <div class="login__text t1_animation hidden">
        To make a booking and update your existing bookings,
        <br>
        please <a href="{{ signup_url }}">register</a> first.
      </div>
    </div>
  </section>
  <div class="row d-flex justify-content-center align-items-center t2_animation hidden">
    <div class="col-xl-4 col-lg-6 col-10 justify-content-center align-items-center mb-5">

      <form class="form p-3 justify-content-center align-items-center mb-5" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="btn__rectangle mx-auto my-3" type="submit">Login</button>
        <a class="button secondaryAction d-block my-3"
          href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

      </form>
    </div>
  </div>
</div>


{% endblock %}