{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block content %}
<div class="container text-center">
  <div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-8">
      <h1>{% trans "Login" %}</h1>

      <p>{% blocktrans %}To make a booking and update your existing bookings, please
        <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>


      <form class="form p-3" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="btn btn-outline-dark mb-2 w-25 form__button" type="submit">{% trans "Sign In" %}</button>
        <a class="button secondaryAction d-block"
          href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

      </form>
    </div>
  </div>
</div>
      

{% endblock %}