{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Password Reset{% endblock head_title %}

{% block content %}

<div class="container-fluid text-center registration__section">
    <!--Hero section-->
    <section class="row hero-section--my-bookings pt-5 justify-content-center align-items-center">
      <!--Titles-->
      <div class="col-10 d-flex flex-column justify-content-center align-items-center hero-section__titles mb-2">
        <div>
          <h2 class="registration__title pt-4 hidden">Password<br>Reset</h2>
        </div>
        <div class="login__text t1_animation hidden">
            Forgotten your password?<br>Enter your email address below, and we'll send you an email allowing you to reset it.
        </div>
      </div>
    </section>
    <div class="row d-flex justify-content-center align-items-center t2_animation hidden">
      <div class="col-xl-4 col-lg-6 col-10 justify-content-center align-items-center mb-5">
  
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form p-3 justify-content-center align-items-center mb-5">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn__rectangle mx-auto my-3" type="submit" value="Reset" />
        </form>
  
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
