{% extends "base.html" %}

{% load i18n %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="container-fluid text-center registration__section">
  <!--Hero section-->
  <section class="row hero-section--my-bookings pt-2 justify-content-center align-items-center">
    <!--Titles-->
    <div
        class="col-10 d-flex flex-column justify-content-center align-items-center hero-section__titles">
        <div>
            <h2 class="registration__title hidden">Register</h2>
        </div>
        <div class="login__text t1_animation hidden">
          <p>
            To book an appointment and update future appointments, please create an account.
          </p>
          <p>
            Already have an account? Then please <a href="{{ login_url }}">login</a>.
          </p>
        </div>
    </div>
</section>
  <div class="row justify-content-center align-items-center t2_animation hidden">
    <div class="col-8 col-xl-4 col-lg-6 col-10 justify-content-center align-items-center mb-5">

      <form class="form p-3 justify-content-center align-items-center mb-5" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn__rectangle mx-auto my-5">Register</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
