{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}


<div class="container-fluid">
    <!--Hero section-->
    <section class="row hero-section pb-5 pt-5 justify-content-lg-around justify-content-center align-items-center">
        <div
            class="col-md-11 col-lg-5 d-lg-block d-flex flex-column justify-content-center align-items-center hero-section__titles">
            <div>
                <h1 class="portfolio-hero__title pt-4 hidden">Portfolio</h1>
            </div>
            <div class="hero-section--about__summary d-none d-xl-block t1_animation hidden">
                <p>A selection of my favourite tattoos.</p>
            </div>
        </div>
        <div
            class="col-11 col-lg-5 d-flex justify-content-center align-items-center justify-content-lg-end align-items-lg-end t3_animation hidden">
            <img src="{% static 'images/octopus.png' %}" class="img-fluid hero-section__main-image"
                alt="Black and grey tattoo of a frog sitting on top of a boletus mushroom. Smaller mushrooms surround them.">
        </div>
    </section>
    <!--Portfolio images-->
    <section class="row justify-content-center align-items-center small-gallery">
        <div class="col-11 d-flex flex-wrap justify-content-around align-items-center gap-2 w-100 t4_animation hidden">
            {% for image in images %}
            <div class="image__wrapper t1_animation hidden" data-src="{{ image.gallery_image.url }}" data-fancybox="gallery"
                data-caption="{{ image.caption }}">
                <img src="{{ image.gallery_image.url }}" class="gallery__image img-fluid" alt="{{ image.caption }}">
            </div>
            {% endfor %}
        </div>
    </section>
    <!--Large screen book button-->
    <section
        class="row hero-section__book-button__holder about-section__book-button__holder d-flex justify-content-around py-5">
        <div class="col-10 hero-section__book-button__wrapper d-flex justify-content-center align-items-center hidden">
            <a href="{% if user.is_authenticated %}{% url 'booking_form' %}{% else %}{% url 'account_signup' %}{% endif %}"
                class="hero-section__book-button">Book</a>
        </div>
    </section>
</div>

{% endblock %}