{% extends "base.html" %}
{% load static %}

{% block title %}Tattoo Care{% endblock %}

{% block content %}

<div class="container-fluid">
    <!--Hero section-->
    <section class="row hero-section--my-bookings pt-2 justify-content-center align-items-center">
        <!--Titles-->
        <div class="col-10 d-flex flex-column justify-content-center align-items-center hero-section__titles mb-5">
            <div>
                <h2 class="hero-section__second-title book__title text-center hidden">Tattoo Care</h2>
            </div>
            <div>
                <p class="tattoo-care__quote text-center t1__animation hidden">
                    "A tattoo is never permanent until it's healed..."
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center terms__text__wrapper">
            <div class="col-10 col-lg-8 col-xxl-4 terms__text text-center t2_animation hidden">
                <p>Getting a new tattoo involves breaking the skin surface so there is always a potential risk
                    for
                    infection to occur afterwards. Your tattoo should be treated as a wound initially and it is
                    important that this advice is followed so that the infection risk can be minimised.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center terms__text__wrapper">
            <div class="col-10 col-lg-8 col-xxl-4 terms__text text-center t3_animation hidden">
                <h3 class="tattoo-care__subtitle mb-5">Minimising infection risk:</h3>
                <p>Always wash & dry your hands before and after handling a new tattoo.
                    <hr class="terms__hr">
                    Avoid unnecessasy touching, scratching or picking of the new tattoo.
                    <hr class="terms__hr">
                    Your new tattoo will consist of an area of tiny skin breaks, caused by the tattooing needles, so it
                    should be kept covered using the sterile, non-adhesive dressing, as applied by your practitioner.
                    <hr class="terms__hr">
                    If possible, shower rather than bathing whilst the tattoo is healing so that unnecessary water
                    exposure is limited.
                    <hr class="terms__hr">
                    Do not use skin products on the treated area that have not been recommended by your practictioner or
                    are not intended for open wound healing. Avoid petroleum based creams as they may affect the colour
                    of the tattoo.
                    <hr class="terms__hr">
                    After approximately two weeks, any scabbing should have gone and been replaced by new, intact skin.
                    The area will be completely healed and return to regular skin in a further 10-14 days.
                    <hr class="terms__hr">
                    Avoid swimming, sunbeds and sun bathing until your tattoo is fully healed, as direct
                    sunlight/chloring can interact with tattoo pigments causing skin inflammation and irritation.
                    <hr class="terms__hr">
                    Try to wear loose, cotton clothing to minimised rubbing and irritation to a new tattoo.
                    <hr class="terms__hr">
                    If you work in a dirty/dusty/oily environment, we recommend you book a few days off to allow for
                    healing time.
                    <hr class="terms__hr">
                    If you have any problems or queries, contact your tattooist initially. They will refer you to a GP
                    if there are signs of an adverse reaction/infection.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center terms__text__wrapper">
            <div class="col-10 col-lg-8 col-xxl-4 terms__text text-center t3_animation hidden">
                <h3 class="tattoo-care__subtitle mb-5">CLING FILM AFTERCARE:</h3>
                <p>When the tattoo is completed, we may use the Classic Clingfilm Technique.
                    <hr class="terms__hr">
                    Your tattoo will be wrapped in a clingfilm dressing by your tattooist.
                    <hr class="terms__hr">
                    When you get home, remove the clingfilm and wash the tattoo with warm, soapy water, using an
                    anti-bacterial soap. Use your (clean) hands, not a flannel or a sponge.
                    <hr class="terms__hr">
                    Pat dry with a clean, unused towel.
                    <hr class="terms__hr">
                    Rewrap the tattoo with a fresh piece of clingfilm.
                    <hr class="terms__hr">
                    We recommend repeating this prodecure 3-4 times a day, for the first 24-48 hours. Make sure the
                    tattoo stays completely wrapped day & night.
                    <hr class="terms__hr">
                    After 48 hours, remove the clingfilm, giving it a last wash with warm soapy water, then allow the
                    tattoo to air dry.
                    <hr class="terms__hr">
                    Once the tattoo has dried, do not cover it again. Wrapping the tattoo after it has dried will cause
                    it to sweat and breed bacteria, which could lead to infection.
                    <hr class="terms__hr">
                    Once it is left open, we recommend using a small amount of fragrence free cocoa butter 3-4 times a
                    day. You only need a tiny amount, rubbing it into the skin until it is fully absorbed. Using too
                    much cream can result in soggy, heavy scabbing which is more likely to result in colour loss or
                    possible scarring.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center terms__text__wrapper">
            <div class="col-10 col-lg-8 col-xxl-4 terms__text text-center t3_animation hidden">
                <h3 class="tattoo-care__subtitle mb-5">DERMALIZE TATTOO FILM aka "the Sticky Aftercare"</h3>
                <p>
                    You will be initially given a piece of Dermalize to cover your tattoo, applied by your tattooist.
                    <hr class="terms__hr">
                    Depending on the tattoo, you may be advised to keep the first piece on for as long as possible - at
                    least 2 days but preferably 5 days.
                    <hr class="terms__hr">
                    For larger tattoos, you will be given a second dressing of Dermalize for your own application the
                    morning after your tattoo.
                    <hr class="terms__hr">
                    Overnight, the Dermalize will fill up with excess ink, plasma or blood. It may look gross but it's
                    part of your body's healing process and will not damage you or the tattoo. If it leaks at all
                    overnight, fold a piece of kitchen roll and gently tape it to catch any leakage.
                    <hr class="terms__hr">
                    In the morning, remove the Dermalize applied by your tattooist. It is strongly advised that you do
                    this in the bath or the shower, and do it very slowly & carefully with plenty of soap and water.
                    <hr class="terms__hr">
                    Wash the tattoo carefully with anti-bacterial soap and your clean hands. Don't use a flannel or a
                    sponge. Once washed, pat the area dry with a clean, unused towel.Once the skin is clean and
                    completely dry, you must immediately apply the second set supplied by your tattooist. If your skin
                    is still damp, it won't stick.
                    <hr class="terms__hr">
                    Using the pieces provided, start from the top of the tattoo and work down. You must leave a border
                    around the tattoo of at least 1 inch/5cm to prevent leakage or exposure. Overlap each piece by at
                    least an inch.
                    <hr class="terms__hr">
                    Peel off the paper backing of the Dermalize.
                    <hr class="terms__hr">
                    Make sure you apply the film page with the sticky-side facing down. The Arrowed layer should be
                    facing you. Apply from the top and smooth down as you apply it. Avoid air bubbles and make sure the
                    Dermalize is firmly covering the tattooed area.
                    <hr class="terms__hr">
                    Peel off the Arrowed cover.
                    <hr class="terms__hr">
                    Then, leave the second set of Dermalize on your tattoo for 5 days. Avoid touching or playing with
                    the aftercare. You want the tattoo to be stay completely covered. You can go about your life as
                    normal, although we recommend not wearing clothes that are too tight. Avoid swimming or heavy
                    exercise - you don't want to sweat off the aftercare! Dermalize is waterproof, but we do recommend
                    you shower rather than soaking it in the bath.
                    <hr class="terms__hr">
                    The only reason you should take it off before the five days are up, is if you believe you are having
                    an allergic reaction and you've contacted your tattooist for futher advice.
                    <hr class="terms__hr">
                    If the Dermalize is starting to come off, and any of the tattoo is exposed, please contact your
                    tattooist for further advice depending on your stage of healing.
                    <hr class="terms__hr">
                    Once the five days are up, make sure that you take it off again in the bath or the shower with lots
                    of soapy warm water. Peel it off very gently.
                    <hr class="terms__hr">
                    There may be an inprint of the tattoo on the sticky side, but don't worry, it'll still be in your
                    skin! You may have a red mark on the skin where the Dermalize was, just leave it alone - don't
                    scratch or irritate it and it will heal on its own.
                    <hr class="terms__hr">
                    Wash & dry your tattoo with a clean, dry towel.
                    <hr class="terms__hr">
                    Your tattoo should be completely healed, just a little dry/silvery. Just use a gentle fragrance-free
                    moisturiser such as cocoa butter 2-4 times a day until it returns to normal skin.
                    <hr class="terms__hr">
                    If you have any questions or worries, feel free to drop me a message and I'll be able to advise you.
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center terms__text__wrapper">
            <div class="col-10 col-lg-8 col-xxl-4 terms__text text-center t3_animation hidden">
                <h3 class="tattoo-care__subtitle mb-5">Take care and happy healing!</h3>
            </div>
        </div>

        {% endblock %}