{% extends "base.html" %}
{% load static %}

{% block title %}Terms & Conditions{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Terms & Conditions</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas pariatur autem ab, itaque culpa odit saepe
                dignissimos dicta amet eligendi nam a error dolore eos doloremque quis accusantium soluta
                exercitationem! Libero, quaerat laboriosam dolore quis voluptatibus nam qui eum voluptate dignissimos
                corrupti excepturi quidem ut suscipit accusamus minus deserunt. Porro blanditiis ut excepturi neque
                voluptates eum alias adipisci sint sapiente praesentium enim laboriosam eos repellendus, amet cum
                eligendi nam? Necessitatibus quasi recusandae soluta, pariatur animi sint aliquid ratione laborum rem
                unde quisquam id aut in iure minus totam. Quidem error mollitia et inventore dicta in voluptate sequi
                laboriosam accusantium saepe ipsam ab, atque adipisci ex sed ipsum, pariatur voluptatum? Debitis quos
                magni, laborum atque voluptates fugiat iusto? Repellendus, ducimus. Beatae molestiae maxime molestias
                quas minima quos, accusantium quaerat quibusdam perspiciatis, fugit nam culpa, et blanditiis incidunt
                reprehenderit eos illum. Perspiciatis recusandae tempore possimus sequi hic, asperiores enim, adipisci
                qui dolores itaque cumque voluptatibus placeat ipsa, autem atque saepe velit animi quasi suscipit
                aperiam sapiente sed molestiae. Magnam consequuntur quae facilis, quo dolorem mollitia molestiae
                reprehenderit soluta at porro voluptatibus pariatur atque nesciunt placeat rem aliquam quam fuga
                accusamus! Placeat itaque voluptas tempore repellat. Doloribus quisquam assumenda accusamus atque quasi
                quibusdam beatae ea tenetur doloremque inventore, ipsam consequatur reprehenderit itaque corrupti minima
                aut nemo id officia. Voluptatum eligendi laboriosam labore accusamus quo rem id magni officia optio
                unde, similique distinctio provident a eum ipsam. Dicta eaque neque quam quaerat, unde ab dolor,
                repellendus minus facere pariatur sunt recusandae quae reiciendis libero aperiam, ratione nostrum error
                vero illo enim cum. Tempore commodi rem est, reprehenderit quia blanditiis optio. Nam temporibus, iste
                et, non distinctio doloribus est fugiat officia vitae, quibusdam blanditiis laudantium voluptatibus!
                Iusto dicta cum mollitia provident, minus sunt fuga corporis cumque similique. Sed aliquam optio dicta
                ipsa fugiat modi, repellat cum nam laboriosam explicabo dolor placeat iure eveniet. Laborum, sed?
                Quibusdam laudantium hic maxime modi nisi nesciunt, excepturi pariatur quidem perspiciatis, similique
                facere quasi blanditiis eius possimus cum! Repellat sunt iste itaque repellendus maiores, sequi quae
                laborum ab inventore amet eum fugiat in aperiam architecto quod dolorum numquam, quo fuga qui, fugit
                officia molestias eius. Autem amet aperiam harum commodi, explicabo soluta officia voluptate adipisci
                praesentium hic culpa dolorem obcaecati quae ipsam nam possimus, natus iure ut modi eligendi nisi
                nostrum quia doloremque. Perspiciatis fugit aperiam impedit? Quasi, reiciendis at. Illo voluptate vero
                voluptatum et numquam sapiente, aspernatur, id reprehenderit accusamus corporis dolorem quo in. Corrupti
                illo ex vero cupiditate maxime provident explicabo aliquid dolor ea quod cum, maiores alias ad laborum.
                Similique incidunt eligendi sint voluptas explicabo voluptatibus obcaecati, hic aliquid labore iusto
                fuga architecto accusantium? Inventore sunt labore recusandae, repellat sequi quidem sed, dolore ullam
                minus similique itaque aperiam aspernatur magnam beatae quibusdam temporibus esse corrupti modi facere
                accusamus nulla architecto? Recusandae fugiat maiores debitis impedit asperiores deserunt alias facilis
                accusamus sint eveniet. Ipsum beatae atque quos ipsa nesciunt ducimus consequuntur enim debitis, illum
                animi suscipit, iste corrupti quam, eius a. Commodi corporis maxime ipsam doloribus laudantium eos.</p>
        </div>
    </div>
</div>

{% endblock %}