{% extends "base.html" %}
{% load static %}

{% block title %}Terms & Conditions{% endblock %}

{% block content %}

<div class="container-fluid">
    <!--Hero section-->
    <section class="row hero-section--my-bookings pt-2 justify-content-center align-items-center">
        <!--Titles-->
        <div
            class="col-10 d-flex flex-column justify-content-center align-items-center hero-section__titles mb-5">
            <div>
                <h2 class="hero-section__second-title">Terms</h2>
            </div>
        </div>
    </section>
    <div class="row justify-content-center align-items-center terms__text__wrapper">
        <div class="col-10 col-lg-6 col-xxl-4 terms__text text-center">
            <p>You must be over 18 to be tattooed and asked to provide photo ID if you look under 25.</p>
            <hr class="terms__hr">
            <p>The price quoted is the price agreed at the time of booking your tattoo.</p>
            <hr class="terms__hr">
            <p>If you arrive late or finish early, you will still be charged the full amount quoted upon booking.</p>
            <hr class="terms__hr">
            <p>If you wish to make any changes to your appointment, please give us at least 72+ hours notice.</p>
            <hr class="terms__hr">
            <p>The deposit is non-refundable.</p>
            <hr class="terms__hr">
            <p>Any more money paid during the time of booking is also non-refundable.</p>
            <hr class="terms__hr">
            <p>If you need to rearrange your appointment, we need 72+ hours notice.</p>
            <hr class="terms__hr">
            <p>You may rearrange once before losing your deposit. You may not exchange your appointment with any other
            clients.</p>
            <hr class="terms__hr">
            <p>If you arrive 15 minutes (or more) late to your appointment, the tattooist "Kit Wagstaff" has the right to
            cancel the appointment and you will lose the non-refundable deposit.</p>
            <hr class="terms__hr">
            <p>In the rare and unfortunate event that the artist "Kit Wagstaff" has to reschedule due to a medical/health
            related emergency the deposit remains non-refundable and you will be offered the nearest suitable
            appointment.</p>
            <hr class="terms__hr">
            <p>The time of the appointment given is a guideline and every effort will be made to ensure the tattoo is
            completed in the allotted timescale. If the tattoo takes longer than expected, any further sessions booked
            to complete will incur a further charge at the studio's hourly rate unless advised differently by the
            tattooer "Kit Wagstaff".</p>
            <hr class="terms__hr">
            <p>Kit Wagstaff Tattoo is a business that works from Inkabella Tattoo Studio as a base.</p>
            <hr class="terms__hr">
            <p>In the unlikely event of any monetary and/or disputes these are the sole responsibility of the owner of KWT.</p>
            <hr class="terms__hr">
            <p>Please note we do not have a card machine in the studio, so the remaining balance can be paid via bank
            transfer or in cash.</p>
        </div>
    </div>
</div>

{% endblock %}