{% extends 'base.html' %}

{% block title %}Delete Appointment{% endblock %}

{% block content %}
    <div class="container">
        <div class="row flex-column justify-content-center align-items-center text-center mt-5">
            <div class="col-8 mx-auto">
                <h1>
                    Confirm Appointment Deletion
                </h1>
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <form action="" method="POST" class="mx-auto">
                        {% csrf_token %}
                        <h3>Are you sure you want to delete appointment?</h3>
                        <h3>Cancelling appointment within 72 hours will result in loss of deposit</h3>
                        <input type="submit" value="Delete" class="btn btn-outline-danger mt-5">
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}