{% extends "base.html" %}
{% load static %}

{% block title %}My Bookings{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            {% for booking in approved_bookings %}
            <img src="{{ booking.reference_image.url }}" alt="pewpew">
            <p>PEWPEWPEW</p>
            <div style="color: blue;">
                <h2>
                    {{ booking.confirmed_day}}
                    {{ booking.confirmed_time }}
                    {{ booking.preferred_day }}
                    {{ booking.tattoo_description | truncatechars:75 }}
                </h2>
                <a href="{% url 'update_booking' booking.id %}"><button
                        class="btn btn-outline-dark w-auto text-center">Edit</button></a>
                <button class="btn btn-outline-dark w-auto text-center" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Delete</button>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {% for booking in pending_bookings %}
            <div style="color: red;">
                <h2>
                    {{ booking.preferred_day }}
                    {{ booking.tattoo_description | truncatechars:75 }}
                </h2>
                <a href="{% url 'update_booking' booking.id %}"><button
                        class="btn btn-outline-dark w-auto text-center">Edit</button></a>
                <button class="btn btn-outline-dark w-auto text-center" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Delete</button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}