{% extends "base.html" %}
{% load static %}

{% block title %}My Bookings{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            {% for booking in approved_bookings %}
            <img src="{{ booking.reference_image.url }}" alt="pewpew">
            <p>PEWPEWPEW</p>
            <div style="color: blue;" class="w-25">
                <h2>
                    {{ booking.preferred_day }}
                    {{ booking.tattoo_description|truncatechars:75 }}
                </h2>
                <a href="{% url 'update_booking' booking.id %}"><button
                        class="btn btn-outline-dark w-auto text-center">Edit</button></a>
                <button class="btn btn-outline-dark w-auto text-center" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Delete</button>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {% for booking in pending_bookings %}
            <div style="color: red;">
                <h2>
                    {{ booking.preferred_day }}
                    {{ booking.tattoo_description }}
                </h2>
                <a href="{% url 'update_booking' booking.id %}"><button
                        class="btn btn-outline-dark w-auto text-center">Edit</button></a>
                <button class="btn btn-outline-dark w-auto text-center" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Delete</button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal{{ booking.id }}" tabindex="-1" aria-labelledby="delete booking modal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delet Booking?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your Booking?
                This action cannot be undone.
                If deleted within 72 hours of booking date, deposit will be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger"><a
                        href="{% url 'delete_booking' booking.id %}">Delete</a></button>
            </div>
        </div>
    </div>
</div>


{% endblock %}