{% extends "base.html" %}
{% load static %}

{% block title %}My Bookings{% endblock %}

{% block content %}

<div class="container-fluid">
    <!--Hero section-->
    <section class="row hero-section--my-bookings pt-5 justify-content-center align-items-center">
        <!--Titles-->
        <div
            class="col-10 d-flex flex-column justify-content-center align-items-center hero-section__titles mb-5">
            <div class="mb-lg-4 mb-md-2">
                <h1 class="hero-section__first-title hero-section__first-title--my_bookings hidden">My</h1>
            </div>
            <div>
                <h2 class="hero-section__second-title pt-4 t1_animation hidden">Bookings</h2>
            </div>
        </div>
    </section>

    <!--Approved Bookings-->
    <section class="row my-bookings__approved justify-content-center align-items-center">
        <!--Approved booking title-->
        <div class="col-10 d-flex justify-content-center align-items-center mb-5">
            <h2 class="hero-section__second-title hero-section__second-title--white text-center pt-4 t3_animation hidden">Approved</h2>
        </div>
        <div class="col-10 d-flex d-flex-column flex-xl-row flex-wrap justify-content-around align-items-center">
            <!--Approved Booking info-->
            {% for booking in approved_bookings %}
            <div class="card t4_animation hidden">
                <div class="card-body d-flex flex-column justify-content-end align-items-center">
                    <h5 class="card-title text-center">Confirmed date:</h5>
                    <p class="card-text text-center">{{ booking.confirmed_day}}</p>
                    <h5 class="card-title mb-3 text-center">Confirmed time:</h5>
                    <p class="card-text text-center">{{ booking.confirmed_time }}</p>
                    <p class="card-text text-center d-none d-xl-block">{{ booking.tattoo_description | truncatechars:75 }}</p>
                    <div
                        class="booking-button__wrapper d-flex flex-column justify-content-center align-items-center gap-3">
                        <a href="{% url 'update_booking' booking.id %}" class="btn__rectangle text-center">Edit</a>
                        <button class="btn__rectangle btn__rectangle--delete" data-bs-toggle="modal"
                            data-bs-target="#deleteModal-{{ booking.id }}">Delete</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal-{{ booking.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete booking?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            Are you sure you want to delete your booking?
                            <br>
                            Your deposit will be lost.
                            <br>
                            This action cannot be undone.
                        </div>
                        <div class="modal-footer d-flex flex-column justify-content-center align-items-center gap-4">
                            <a href="{% url 'delete_booking' booking.id %}" class="btn__rectangle btn__rectangle--delete">Delete</a>
                            <button type="button" class="btn__rectangle" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

    <!--Pending Bookings-->
    <section class="row my-bookings__pending justify-content-center align-items-center">
        <!--Pending booking title-->
        <div class="col-10 d-flex justify-content-center align-items-center mb-5">
            <h2 class="hero-section__second-title text-center t3_animation pt-4 hidden">Pending</h2>
        </div>
        <div class="col-10 d-flex d-flex-column flex-xl-row flex-wrap justify-content-around align-items-center">
            <!--Pending Booking info-->
            {% for booking in pending_bookings %}
            <div class="card card--dark t4_animation hidden">
                <div class="card-body card-body--light d-flex flex-column justify-content-end align-items-center">
                    <h5 class="card-title card-title--light text-center">Requested date:</h5>
                    <p class="card-text text-center">{{ booking.preferred_day}}</p>
                    <h5 class="card-title card-title--light mb-3 text-center">Requested time:</h5>
                    <p class="card-text text-center">{{ booking.preferred_time }}</p>
                    <p class="card-text text-center d-none d-xl-block">{{ booking.tattoo_description | truncatechars:75 }}</p>
                    <div
                        class="booking-button__wrapper d-flex flex-column justify-content-center align-items-center gap-3">
                        <a href="{% url 'update_booking' booking.id %}" class="btn__rectangle text-center">Edit</a>
                        <button class="btn__rectangle btn__rectangle--delete" data-bs-toggle="modal"
                            data-bs-target="#deleteModal-p-{{ booking.id }}">Delete</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal-p-{{ booking.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel-p">Delete booking?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            Are you sure you want to delete your booking?
                            This action cannot be undone.
                        </div>
                        <div class="modal-footer d-flex flex-column justify-content-center align-items-center gap-4">
                            <a href="{% url 'delete_booking' booking.id %}" class="btn__rectangle btn__rectangle--delete">Delete</a>
                            <button type="button" class="btn__rectangle" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!--About and contact buttons-->
    <section class="row d-flex justify-content-center align-items-center button__section">
        <div class="col-10 d-flex flex-column flex-md-row justify-content-center align-items-center gap-5">
            <button class="btn__rectangle hidden" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</button>
        </div>
    </section>
</div>

{% endblock %}